// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$banner-turquoise: #41CCB1;
$banner-blue: #25CAC8;
$text-blue: #2A456D;
$background-blue: #F6F9FC;
$analyse-text-light-blue: #3A619B;
$analyse-text-dark-blue: #2B4770;
$dark-footer-blue: #101C2C;
$light-footer-blue: #192A42;
