$banner-turquoise: #41CCB1;
$banner-blue: #25CAC8;
$text-blue: #2A456D;
$background-blue: #F6F9FC;
$analyse-text-light-blue: #3A619B;
$analyse-text-dark-blue: #2B4770;
$dark-footer-blue: #101C2C;
$light-footer-blue: #192A42;

body {
  background-color: white;
}


.home-main-banner {
  height: 740px;
  width: 100%;
  background-image: linear-gradient(to bottom right, $banner-turquoise, $banner-blue);
}

.home-banner-content {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 150px 0;
}

.banner-blurb {
  margin: 25px 0 0 0;
}

.learn-more-prompt {
  justify-content: center;
  text-align: center;
  padding: 50px 0;
}

.learn-more-text {
  color: $text-blue;
  justify-content: center;
  text-align: center;
  height: 185px;
  width: 673px;
  margin: auto;
  h3 {
    font-size: 36px;
  }
  p {
    font-size: 24px;
  }
}

.banner-form {
  text-align: center;
}

.analysis-input-dropdown {
  height: 60px;
  width: 350px;
  border-radius: 30px;
  text-align: right;
  border: none;
  margin: 25px 0;
  background-color: white;
  color: $text-blue;
  option {
    padding: 0 15px;
  }
}

.analysis-input-dropdown-wide {
  height: 60px;
  width: 710px;
  border-radius: 30px;
  text-align: right;
  border: none;
  margin: 25px 0;
  background-color: white;
  color: $text-blue;
  option {
    padding: 0 15px;
  }
}

 option {
  height: 60px;
  width: 687px;
  border-radius: 30px;
  text-align: right;
  border: none;
 }

.blue-analyse-button {
  color: white;
  font-size: 30px;
  height: 68px;
  width: 289px;
  border-radius: 34px;
  border: #274c8b solid 1px;
  background-image: linear-gradient(to bottom right, $analyse-text-light-blue, $analyse-text-dark-blue);
  justify-content: center;
  text-align: center;
  margin: 25px 0; // 75px normally
  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
  // Added margin between sliders and button
  margin-top: 10px;
}

.what-we-do-slide {
  background-color: white;
  height: 735px;
  width: 100%;
}

.home-page-light-blue {
  background-color: $background-blue;
  height: 1020px;
  width: 100%;
}

.how-we-do-it-blurb {
  display: flex;
  align-items: center;
}

.text-blue-background {
  color: $text-blue;
  background-color: $background-blue;
  border-radius: 10px 0 0 10px;
  height: 391px;
  width: 451px;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  .text-box {
    height: 345px;
    width: 313px;
    margin: 0 0 0 34px;
  }
  h3 {
    font-size: 40px;
  }
  p {
    font-size: 18px;
  }
}

.data-comparison-table {
  background-color: white;
  justify-content: right;
  height: 511px;
  width: 687px;
  text-align: center;
  color: $text-blue;
  border-radius: 15px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

thead {
  background-color: #c4c4c4;
}

thead th {
  width: 22%;
}

thead th:nth-child(1) {
  width: 34%;
  border-radius: 15px 0 0 0;
}

thead th:nth-child(4) {
  border-radius: 0 15px 0 0;
}

.big-footer {
  color: white;
  width: 100%;
}

.home-page-upper-footer {
  background-color: $dark-footer-blue;
  width: 100%;
  height: 625px;
}

.home-page-lower-footer {
  background-color: $light-footer-blue;
  width: 100%;
  height: 625px;
}

.light-footer-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li {
    margin: 20px 0;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

.footer-logo {
  display: flex;
  color: white;
  align-items: center;
  p {
    margin: 0;
  }
  a {
    color: white;
  }
  .logo-text {
    margin-top: -5px;
  }
  .logo-background {
    border: white 2px solid;
  }
}
