$banner-turquoise: #41CCB1;
$banner-blue: #25CAC8;
$text-blue: #2A456D;
$background-blue: #F6F9FC;
$analyse-text-light-blue: #3A619B;
$analyse-text-dark-blue: #2B4770;
$dark-footer-blue: #101C2C;
$light-footer-blue: #192A42;

// BANNER GRADIENT:
// background-image: linear-gradient(to bottom right, $banner-turquoise, $banner-blue);

// BUTTON GRADIENT:
// background-image: linear-gradient(to bottom right, $analyse-text-light-blue, $analyse-text-dark-blue);


//BANNER STRIPE

.banner-stripe {
  background-image: linear-gradient(to bottom right, $banner-turquoise, $banner-blue);
  color: white;
}

.banner-content {
  padding: 5.25em 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

.banner-left {
  margin: auto 0;
  align-items: center;
  padding: 0 .5em;
}

.banner-right {
  margin: auto 0;
  align-items: center;
  padding: 0 .5em;
}

.income-dropdowns {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
}


.analysis-input-dropdown {
  height: 3em;
  // width: 350px;
  border-radius: 1.5em;
  text-align: right;
  border: none;
  margin: 0 0 1.5em 0;
  background-color: white;
  color: $text-blue;
  option {
    padding: 0 15px;
  }
  label {
    text-align: left;
  }
  
}

.analysis-input-dropdown-wide {
  height: 3em;
  // width: 710px;
  border-radius: 1.5em;
  align-items: center;
  border: none;
  margin: 0 0 25px 0;
  background-color: white;
  color: $text-blue;
  option {
    padding: 0 15px;
  }
}

.blue-analyse-button {
  color: white;
  font-size: 30px;
  height: 68px;
  width: 289px;
  border-radius: 34px;
  border: #274c8b solid 1px;
  background-image: linear-gradient(to bottom right, $analyse-text-light-blue, $analyse-text-dark-blue);
  justify-content: center;
  text-align: center;
  margin: 25px 0; // 75px normally
  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
  // Added margin between sliders and button
  margin-top: 10px;
}

// LEARN MORE STRIPE

.learn-more-stripe {
  background-color: white;
}

.learn-more-content {
  padding: 6.25em 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  justify-content: center;
  text-align: center;
  padding: 3em 0;
}

.learn-more-text {
  color: $text-blue;
  justify-content: center;
  text-align: center;
  // height: 11.5em;
  // width: 42em;
  margin: auto;
  // h3 {
  //   font-size: 2em;
  // }
  // p {
  //   font-size: 1.5em;
  // }
}

// WHAT WE DO STRIPE

.what-we-do-stripe {
  background-color: $background-blue;
}

.what-we-do-content {
  padding: 3em 0;
  display: grid;
  grid-template-columns: 1fr;
}

.what-we-do-left {
  color: $text-blue;
  background-color: $background-blue;
  // border-radius: 1em;
  // height: 24em;
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto 0;
  
  z-index: 1;
  .text-box {
    height: 21em;
    width: 100%;
    margin: 0 0 0 2em;
  }
  h3 {
    font-size: 2.5em;
  }
  p {
    font-size: 1em;
  }
}

.data-comparison-table {
  background-color: white;
  justify-content: right;
  height: 30em;
  width: 100%;
  text-align: center;
  color: $text-blue;
  border-radius: 1em;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
  font-size: .6em;
  thead {
    background-color: #c4c4c4;
    font-weight: normal;
  }
  
  thead th {
    padding: 1em 0;
    width: 22%;
  }
  
  thead th:nth-child(1) {
    width: 34%;
    border-radius: 15px 0 0 0;
  }
  thead th:nth-child(4) {
    border-radius: 0 15px 0 0;
  }
}

// MEDIA QUERIES

@media (min-width: 40em) {
  .banner-content {
    grid-template-columns: 1fr 2fr;
  }

  .income-dropdowns {
    grid-template-columns: 1fr 1fr;
  }

  .what-we-do-stripe {
    background-color: white;
  }

  .what-we-do-content {
    padding: 3em 0;
    grid-template-columns: 1fr 2fr;
    border-radius: 1em 0 0 1em;
  }

  .what-we-do-left {
    height: 24em;
    z-index: 1;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  }

  .data-comparison-table {
    font-size: 1em;
    z-index: 10;
  }
}