// Import page-specific CSS files here.
@import "home";
.index-container {
  background-color: rgba(217, 250, 255, 0.3);

}
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// .top-bar {
//   background-color: #41CCB1;
// }
