// Import page-specific CSS files here.
@import "home";
@import "show";
@import "borough_index";
@import "users_my_bookmarks";

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
