.show-page {
  color: white;
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}

.show-borough-detail {
  align-items: center;
}

.show-map {
  background-position: center;
  background-size: auto;
  border-radius: 15px;
  height: 471px;
  width: 380px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.borough-details h3, h4 {
   text-align: center;
}
.borough-details h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px

}
.borough-details h3 {
  font-size: 26px;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 28px;
  font-weight: bolder;
}
.borough-details p {
  font-size: 14px;
}

.minmax {
  display: flex;
  justify-content: space-between;
}

.form-range {
  width: 400px;
  padding:10px;
}

.form-label {
  padding-left: 20px;
}

