.show-page {
  color: white;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;
}

.show-borough-detail {
  align-items: center;
}

.show-map {
  background-position: center;
  background-size: auto;
  border-radius: 15px;
  height: 471px;
  width: 100%;

}

.borough-details h4 {
   text-align: center;
}
.borough-details h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px
}
.bookmark-title a {
  font-size: 40px;
  text-decoration: none;
  padding: 0px 15px 0px 0px;
  color: #FFC65A;
}
.bookmark-title a:hover {
  font-size: 41px;
}
.bookmark-title i {
  font-size: 40px;
  text-decoration: none;
  padding: 0px 15px 0px 0px;
  color: #FFC65A;
}

.bookmark-title {
  display: flex;
  justify-content: space-between;
}
.borough-details h3 {
  font-size: 26px;
  // margin-bottom: 30px;
  // margin-top: 20px;
  font-size: 28px;
  font-weight: bolder;
}
.borough-details p {
  font-size: 14px;
}

.minmax {
  display: flex;
  justify-content: space-between;
}

.form-range {
  width: 400px;
  padding:10px;
}

.form-label {
  padding-left: 20px;
}
// Company Analysis scss

.analysis-table {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.company-name {
  background-color: #41CCB1;
  border-radius: 5px 5px 0px 0px;
}

.company-name th {
  padding: 5px 10px 5px 10px;

}
.company-name th:nth-child(1) {
  border-radius: 5px 0px 0px 0px;
}
.company-name th:nth-child(5) {
  border-radius: 0px 5px 0px 0px;
}

.analysis-borough {
  font-weight: bolder;
  width: 250px;
}
.analysis-borough {
  padding-left: 10px;
}


.analysis-data {
  padding: 10px;
}
.prime-head {
  color: white;
}

