$banner-turquoise: #41CCB1;
$banner-blue: #25CAC8;
$text-blue: #2A456D;
$background-blue: #F6F9FC;
$analyse-text-light-blue: #3A619B;
$analyse-text-dark-blue: #2B4770;
$dark-footer-blue: #101C2C;
$light-footer-blue: #192A42;

.show-page {
  color: white;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-column-gap: 16px;
  align-items: center;
}

// .show-borough-detail {
//   align-items: center;
// }

.show-map {
  background-position: center;
  background-size: auto;
  border-radius: 15px;
  height: 471px;
  width: 100%;

}

.borough-details {
  color: $text-blue;
  background-color: $background-blue;
  border-radius: 10px 0 0 10px;
  height: 391px;
  width: 100%;
  // display: flex;
  align-items: center;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.borough-name-show {
  color: white;
  border-radius: 5px 5px 0px 0px;
  padding: 15px;
  text-align: center;
}

.borough-details h4 {
  text-align: center;
}

.borough-details h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px
}

.bookmark-title a {
  font-size: 40px;
  text-decoration: none;
  padding: 0px 15px 0px 0px;
  color: #FFC65A;
}

.bookmark-title a:hover {
  font-size: 41px;
}

.bookmark-title i {
  font-size: 40px;
  text-decoration: none;
  padding: 0px 15px 0px 0px;
  color: #FFC65A;
}

.bookmark-title {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  h3 {
    color: $text-blue;
  }
}

.borough-details h3 {
  font-size: 26px;
  // margin-bottom: 30px;
  // margin-top: 20px;
  font-size: 28px;
  font-weight: bolder;
}

.borough-details p {
  font-size: 14px;
}

.minmax {
  display: flex;
  justify-content: space-between;
}

.form-range {
  width: 400px;
  padding:10px;
}

.form-label {
  padding-left: 20px;
}

// BUSINESS INFORMATION SCSS

.business-information {
  margin: 50px 0;
  color: $text-blue;
}

// Company Analysis scss

.analysis-table {
  border-radius: 15px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  color: $text-blue;
  thead {
    background-color: #c4c4c4;
  }
}

.company-name {
  background-image: linear-gradient(to bottom right, $banner-turquoise, $banner-blue);
}

.company-name th {
  color: white;
  padding: 5px 10px 5px 10px;
}

.company-name th:nth-child(1) {
  border-radius: 15px 0px 0px 0px;
}

.company-name th:nth-child(7) {
  border-radius: 0px 15px 0px 0px;
}

.analysis-borough {
  font-weight: bolder;
  width: 250px;
}
.analysis-borough {
  padding: 20px 0px 20px 10px;
}


.analysis-data {
  padding: 10px;
}
.prime-head {
  color: white;
}
// .comp-data {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-gap: 8px;
// }
.bname-show {
  border-radius: 0px;
}

.boroughs-map {
  height: 470;
  width: 371;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}
