
.empty-bookmark p {
  background-image: linear-gradient(to bottom right, $banner-turquoise, $banner-blue);
  color:white;
  text-align: center;
  padding: 100px;
  border-radius: 5px;
  font-size: 25px;
}
