<div class="container">
  <h1>London Boroughs | Result </h1>
    <div class="card-container">
      <% @boroughs.each do |borough| %>
    <div class="data-card">
      <div class="borough-name">
        <p><%= borough.name %></p>
      </div>
        <%= render "shared/card_info", borough: borough %>
        <%= link_to borough.name, borough_path(borough) %>
      </div>
    <% end %>
  </div>
</div>
