<head>
  <% content_for :for_head do %>
    <title>ScrapeHub | About Us</title>
  <% end %>
</head>

<br><br><br><br><br>

<div class="row">
  <div class="container">
    <div class="about-title">
      <h1>ABOUT US</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="team-member-show">
      <div class="col-8">
        <h4>David Siddle | CEO</h4>
        <p>David grew up on the streets of Cape Town and identified the need for ScrapeHub off the back of these experiences. Read about them <%= link_to "here", blog_path %>. He lives in London and enjoys running, cycling and swimming and demands complete respect and subservience from his staff.</p>
      </div>
      <div class="col-4">
        <img class="team-member-avatar" src="https://res.cloudinary.com/dlm5qwdjs/image/upload/v1615544642/57341858_squhiz.jpg">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="team-member-show">
      <div class="col-4">
        <img class="team-member-avatar" src="https://res.cloudinary.com/dlm5qwdjs/image/upload/v1615544626/72738878_jbnk3e.png">
      </div>
      <div class="col-8 team-member-show-right">
        <h4>Daniel Awaritefe | CTO</h4>
        <p>Daniel danced his way to stardom in the underground scene in London where you were just as likely to be stabbed as served. After a decade at the top, his joints began to fail and he started to yearn for an office job, where death and humiliation didn't lurk around every corner.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="team-member-show">
      <div class="col-8">
        <h4>Nicolas Vassel | CFO</h4>
        <p>Nicolas was disowned by his powerful, wine-making family after suggesting that "a nice glass of red" might not be the solution for all of the worlds problems. He fled, in disgrace, to London where he drinks cold lager and discusses realpolitik.</p>
      </div>
      <div class="col-4">
        <img class="team-member-avatar" src="https://res.cloudinary.com/dlm5qwdjs/image/upload/c_crop,h_362,w_362/v1615544656/h0qvzui4urak0nohuarq_xkw6yp.jpg">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="team-member-show">
      <div class="col-4">
        <img class="team-member-avatar" src="https://res.cloudinary.com/dlm5qwdjs/image/upload/c_crop,h_1200,w_1200,x_0/v1615544676/y0egdeym6zgrfc8dsakl_wlme44.jpg">
      </div>
      <div class="col-8 team-member-show-right">
        <h4>Alec Wayman | Tea boy</h4>
        <p>Alec stumbled into the scrapeHub offices on the 12<sup>th</sup> one day on his way to an interview on the 21<sup>st</sup> floor of the same building. David asked him to make tea for the team in their meeting and - this being within Alec's meagre skillset - he complied. Alec is hoping to be paid soon.</p>
      </div>
    </div>
  </div>
</div>