<head>
  <% content_for :for_head do %>
    <title>ScrapeHub | Blog</title>
  <% end %>
</head>

<br><br><br><br><br>

<div class="row">
  <div class="container">
    <div class="blog-title">
      <h1>Our Inception | How ScrapeHub took over the business world</h1>
    </div>
    <br><br>
    <div class="blog-post">
      <h4>The Beginning</h4>
      <p>Once upon a time there was a young boy called David. This boy had always loved Starbucks coffee and dreamed of, one day, owning his own chain of coffee shops.</p>
      <p>Growing up on the mean streets of Cape Town, such ambition would usually be unattainable for David. However, he scraped and he saved, selling small pieces of scrap metal he had found in the gutter and turning tricks for shiney Rand pieces from the drunken businessmen after they left the bars in the warm evenings.</p>
      <p>Eventually, he had enough for his first coffee cart which he parked outside one of the city's best knnown shopping centres. His coffee was excellent and he earned a reputation for good service and quality from the people there.</p>
      <br>
      <p>Unfortunately, this success did not last forever. David was able to opoen two more coffee carts in other parts of the city. Of course, he could not man the other carts himself and, due to poor staffing, the quality of his coffee began to suffer.</p>
      <p>In addition to the poor quality of their work, his staff were also skimming money out of the cash box which eventually caused his business to fail.</p>
      <p>David was forlorn and fled his beloved Cape Town for London and slumped into drizzly misery for a while.</p>
      <br><br>
      <h4>A Realisation</h4>
      <p>David realised that he had not done enough research when he started his business. Initially he blamed himself for his short sightedness, not having realised the type of workers he would have to expect to work on a coffe cart in Cape Town, South Africa.</p>
      <p>It was this realisation that led him to come up with the idea for <strong>ScrapeHub</strong>.</p>
      <p>ScrapeHub, he decided would make it easier for him to find information which would be relevant to someone starting a business like his.</p>
      <p>He wanted the next 'David' to have fair warning about the state of the coffee market in Cape Town or whether a gym would be a viable prospect in rural Wales or the legal ramifications of opening a strip club in Riyad.</p>
      <br><br>
      <h4>Building a Team</h4>
      <p>Of course David couldn't achieve his goal alone. He needed a team.</p>
      <p>He recruited three men who were all excellent coders, all who had a vision for the website and all who were just as passionate about data, learning and business:</p>
      <p><strong>Nicolas Vassel</strong>, <strong>Daniel Awaritefe</strong> and <strong>Allison Wagmund.</strong></p>
      <p><%= link_to "Learn more about the team.", about_path %></p>
      <br>
      <h4>Of course, you know the rest.</h4>
      <p>Buy stock, it'll only go up.</p>
    </div>
  </div>
</div>