<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div>
  <label for="customRange3" class="form-label">Example range</label>
  <div class="range">
    <input type="range" class="form-range" min="20000" max="60000" step="5000" id="customRange3" />
  </div>
</div>
