<div class="row">
  <div class="home-main-banner">
    <div class="container">
      <div class="home-banner-content">
        <div class="col-7">
          <h3>ScrapeHub gives you piece of mind when planning your next business move</h3>
          <br>
          <p>Lorem Ipsum has been used since the time of Julius Caesar as placeholder text for websites in development</p>
        </div>
      </div>
    </div>    
  </div>
</div>
