<div class="row">
  <div class="home-main-banner">
    <div class="container">
      <div class="home-banner-content">
        <div class="col-4">
          <div class="banner-blurb">
            <h3><strong>Scrape Hub</strong> will give you piece of mind while you build your business</h3>
            <br>
            <p>Lorem Ipsum has been used since the time of <strong>Julius Caesar</strong> as placeholder text for websites in development</p>
            <br>
            <p>More blah about the company and what we do, doesn’t really matter, it’s just filler. LIke <strong>carrot sticks</strong> or <strong>smooth jazz</strong>.</p>
          </div>
        </div>
        <div class="col-8">
          <div class="banner-form">
            <div class="dropdown">
              <button class="analysis-input-dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Category
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>

            <div class="dropdown">
              <button class="analysis-input-dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Price Point
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
          </div>

          <div class="blue-analyse-button" type="button">
            <button>ANALYSE</button>
          </div>
        </div>
      </div>
    </div>    
  </div>

  <div class="container">
    <div class="learn-more-prompt">
      <div class="learn-more-text">
        <h3>Completely understand your market</h3>
        <br>
        <p>Have every detail about the marketplace you are entering right at your fingertips</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="how-we-do-it-blurb">

    </div>
  </div>
</div>
