<head>
  <% content_for :for_head do %>
    <title>ScrapeHub | 500 | Internal Server Error</title>
  <% end %>

</head>

<div class="error-container">
  <div class="error-container">
    <div class="error-details">
      <h1>MAYDAY!!!</h1>
      <iframe src="https://giphy.com/embed/tvU9iTev6uBIQ" width="480" height="324" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/spongebob-squarepants-nervous-scared-tvU9iTev6uBIQ"></a></p>
      <h5>Seems like something has gone wrong.</h5>
      <p>Sorry for the inconvenience, we're working on it.</p>
    </div>
    <span class="go-back">
      <a href="/">Go Back</a>
    </span>
  </div>
</div>
