<head>
  <% content_for :for_head do %>
    <title>ScrapeHub | 404 | Not Found</title>
  <% end %>
</head>

<div class="error-container">
  <div class="error-container">
    <div class="error-details">
      <h1>OOPS!!!!</h1>
      <iframe src="https://giphy.com/embed/3o7aTskHEUdgCQAXde" width="480" height="204" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/quentin-tarantino-pulp-fiction-vincent-vega-3o7aTskHEUdgCQAXde"></a></p>
      <h5>We’re sorry but it appears that we can’t find the page you were looking for. </h5>
      <p>Usually this occurs because of a page that previously existed was removed or you’ve mistyped the address.</p>
    </div>

    <span class="go-back">
      <a href="/">Go Back</a>
    </span>
  </div>
</div>
