<head>
  <% content_for :for_head do %>
    <title>ScrapeHub | 422 | Unauthorised Access</title>
  <% end %>
</head>

<div class="error-container">
  <div class="error-container">
    <div class="error-details">
      <h1>Oh Fliddlesticks!!!</h1>
      <iframe src="https://giphy.com/embed/1zgOyLCRxCmV5G3GFZ" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/reaction-1zgOyLCRxCmV5G3GFZ"></a></p>
      <h5>Doesnt look like you have permissions to access this area. </h5>
      <p>Log-In with the correct admin credentials or contact ScrapeHub administrators if there is a mistake.</p>
    </div>

    <span class="go-back">
      <a href="/">Go Back</a>
    </span>
  </div>
</div>
