<% content_for :for_head do %>
  <title>ScrapeHub | Boroughs by <%= params[:search][:category] %></title>
<% end %>

<body class="PageType">
  <div class="index-container">
    <%= render "shared/card" %>
  </div>
</body>
