<div class="row">
  <div class="home-main-banner">
    <div class="container">
      <div class="show-page">
        <div class="borough-details col-8">
          <h3 class="borough-name">City of London</h3>
          <div class="show-borough-info">
            <%= render "shared/card_info", borough: @borough %>

            <h4>Business Information </h4>
            <p>The City is a major business and financial centre, and the Bank of England is headquartered in the City. Throughout the 19th century, the City was the world's primary business centre, and it continues to be a major meeting point for businesses.</p>
            <p></p>
            <br>
            <h4>Competition Analysis</h4>
            <p><div class="">
          <table class="data-comparison-table">
            <thead>
              <tr class="what-we-do-table">
                <th class="table-data-borough"></th>
                <th>Virgin Active <br></th>
                <th>PureGym <br></th>
                <th>Anytime Fitness <br></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-data-borough">Date of Incorporation</td>
                <td>1999</td>
                <td>2009</td>
                <td>2002</td>
              </tr>
              <tr>
                <td class="table-data-borough">CEO</td>
                <td>Matthew Bucknall</td>
                <td>Humphrey Cobbold</td>
                <td>Chuck Runyon</td>
              </tr>
              <tr>
                <td class="table-data-borough">Number of Employees 2019</td>
                <td>900</td>
                <td>800</td>
                <td>692</td>
              </tr>
              <tr>
                <td class="table-data-borough">Turnover 2019</td>
                <td>563.7 £ Million</td>
                <td>260 £ Million</td>
                <td>421,8 £ Million</td>
              </tr>
              <tr>
                <td class="table-data-borough">Profit 2019</td>
                <td>160,5</td>
                <td>105 £ Million</td>
                <td>114,611 £ Million</td>
              </tr>
              <tr>
                <td class="table-data-borough">Members</td>
                <td>1,2 Million</td>
                <td>1.1 Million</td>
                <td>3.3 Million</td>
              </tr>
            </tbody>
          </table>
        </div></p>
          </div>
       </div>
          <div class="show-map">
          <div class="show-map" style="background-image: url('<%= image_path "COL.png" %>')">
         </div>
     </div>


    </div>
  </div>
</div>

