<div class="row">
  <div class="home-main-banner">
    <div class="container">
      <div class="show-page">
        <div class="borough-details col-8">
          <h3 class="borough-name"><%= @borough.name %></h3>
          <div class="show-borough-info">
            <h4>Mean Income (£)</h4>
            <p>Lorem ipsum, dolor sit amet consectetur, adipisicing elit. Blanditiis possimus soluta, totam deleniti! Id assumenda alias, veniam saepe. Quis expedita eius eum neque velit, temporibus quibusdam labore quam, optio nobis.</p>
            <h4>Mean age </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate corporis qui rem similique et, harum ipsa velit ratione tempora recusandae, alias illo porro dicta cum officiis aliquid blanditiis excepturi accusantium.</p>
            <h4>Competition</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet, itaque vero mollitia voluptas modi fuga ea quae harum animi laboriosam omnis ratione qui atque perspiciatis rem error aut odit iure!</p>
          </div>
       </div>
          <div class="show-map col-4">

         </div>
     </div>


    </div>
  </div>
</div>

