.container.container-index {
  margin-top: 100px;
}
.data-card {
  box-shadow: 1px 1px 8px -2px rgb(230, 230, 230);
  background-color: white;
  border-radius: 5px;
}
.data-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px rgb(230, 230, 230);
  padding: 8px;
}


.top-ranking {
  border: solid 3px #FFC65A;
  border-radius: 8px;
  .borough-name {
    background: #FFC65A
  }
}

.data-info p {
  margin: 2px;
  padding: 5px;
  font-size: 18px;
  margin-right: 10px;
  margin-left: 10px;
}

.data-info-col {
  text-align: center;
  padding: 8px;
}

.data-info-col p {
  margin: 5px;
  font-size: 18px;
}

#star {
  color: #FFC65A;
  font-size: 25px;
}

.borough-name {
  background-color: #41CCB1;
  background-image: linear-gradient(to bottom right, $banner-turquoise, $banner-blue);
  color: white;
  border-radius: 5px 5px 0px 0px;
  padding: 15px;
  text-align: center;
}

.b-name {
 border-radius: 5px 5px 0px 0px;
}
.b-name a {
  font-size: 20px;
}

.b-name a:hover {
  font-size: 18px;
}

.borough-name a {
  margin: 0;
  text-decoration: none;
  font-weight: 600;
  color: white;
}

.borough-name h1 {
  font-weight: medium;
}

.bookmark-index a {
  color: #FFC65A;
  font-size: 20px;
  padding-bottom: 5px;
}
.bookmark-index a:hover {
  font-size: 21px;
}
.bookmark-index i {
  color: #FFC65A;
  font-size: 20px;
  padding-bottom: 5px;
}
.results {
    margin-bottom: 5px;
    background-color: #41CCB1;
    background-image: linear-gradient(to bottom right, #41CCB1, #25CAC8);
    color: white;
    border-radius: 5px 5px 5px 5px;
    padding: 15px;
    text-align: left;
    font-size: 20px;
}
// #stars_5 {
//   display: none;
// }
// #stars_5:hover p {
//   display: block;
// }
