.big-footer {
  color: white;
  width: 100%;
}

.home-page-upper-footer {
  background-color: $dark-footer-blue;
  width: 100%;
  .footer-text {
    padding: 10px 0;
  }
}


.home-page-lower-footer {
  background-color: $light-footer-blue;
  width: 100%;
}

.light-footer-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  list-style: none;
  .header {
    text-decoration: underline;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li {
    margin: 20px 0;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

.white-line {
  border-top: 1px solid rgba(256, 256, 256, 1);
}

.footer-logo {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  p {
    margin: 0;
  }
  a {
    color: white;
  }
  .logo-text {
    margin-top: -5px;
    color: white;
  }
  .logo-background {
    border: white 2px solid;
  }
}

@media (min-width: 40em) {
  .light-footer-links {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .footer-logo {
    justify-content: right;
  }
}
