.navbar-lewagon {
  justify-content: space-between;
  margin: 0 20px;
}

.top-bar {
  background-color: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo-background {
  width: 107px;
  height: 54px;
  border: black 2px solid;
}

.logo-text {
  text-align: center; 
  font-size: 40px;
}
