.navbar-stripe {
  width: 100%;
  position: absolute;
  background-color: transparent;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .5em;
  color: black;
  overflow: hidden;
  a {
    color: black;
  }
}

.logo {
  line-height: 1;
  // width: 3em;
  // height: 1.75em;
  border: black 2px solid;
  color: black;
  font-size: 2.5em;
  // margin-top: .5em;
  padding: 0.125em .25em;
}

.menu-toggle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  border-radius: 3px;
  // transition: all 0.5s ease-in-out;
}

.menu-toggle:hover {
  background-color: rgba($dark-footer-blue, 0.5);
}

.hamburger {
  width: 2em;
  height: .25em;
  background-color: #fff;
  border: none;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  width: 2em;
  height: .25em;
  background-color: #fff;
  border: none;
}

.hamburger::before {
  transform: translateY(-.5em);
}

.hamburger::after {
  transform: translateY(.5em);
}

.login-out {
  font-size: 1em;
  border-radius: 1.5em;
  border: black 2px solid;
  padding: 0.4em 2em;
  margin: auto;
}

.top-bar-transparent {
  background-color: transparent;
  .logo-text {
    color: white;
  }
  .logo {
    border: white 2px solid;
  }
  .log-out-text {
    color: white;
  }
  .log-out-text:hover {
    color: rgba(0, 0, 0, 0.4);
  }
  .log-out-navbar-button {
    border: white 2px solid;
  }
  .log-out-navbar-button:hover {
    border: rgba(0, 0, 0, 0.4) 2px solid;
  }
  .login-out {
    border: white 2px solid;
  }
  a {
    color: white;
  }
  a:hover {
    color: rgba(0, 0, 0, 0.4);
  }
  .burger {
    color: white;
    border: solid 2px white;
  }
}

.navbar-dropdown-stripe {
  display: none; // to be togglable
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba($dark-footer-blue, 0.9);
  overflow-y: auto;
  overflow-x: hidden;
  transition: .5s;
}

.navbar-dropdown-header {
  display: flex;
  justify-content: space-between;
  padding: .5em
}

.navbar-dropdown {
  text-align: center;
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;  
}

.dropdown-line {
  z-index: 100;
  color: white;
  border-bottom: 1px solid white;
}
// IMPORTANT mixing mobile first and desktop first media queries is bad mmmmkay

@media (max-width: 425px) {
  .navbar-content a:not(:first-child) {
    display: none;
  }
}

// END HORRIBLE MIXING

@media (min-width: 40em) {
  .navbar-stripe {
    position: fixed;
    top: 0;
    left: 0;
  }
  .navbar-content {
    margin: 0 1em;
    display: flex;
  }
  .logo-background {
    width: 5em;
    height: 2.75em;
  }
  .menu-toggle {
    display: none;
  }
}